body {
  margin: 0;
  font-family: Arial;
  background: #121212;
  color: white;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  background: black;
  color: white;

  position: sticky;
  top: 0;
}

section {
  padding: 80px 20px;
  max-width: 900px;
  margin: auto;
}

h1, h2 {
  margin-bottom: 20px;
}

footer {
  text-align: center;
  padding: 20px;
  background: black;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.card {
  background: #1e1e1e;
  padding: 20px;
  border-radius: 10px;
  transition: transform 0.2s;
}

.card:hover {
  transform: translateY(-5px);
}

html {
  scroll-behavior: smooth;
}

@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }

  section {
    padding: 50px 15px;
  }
}

